*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

}

.welcome .toggle{
    position: absolute;
    top: 2rem;
    right: 0;

}

h1{
    text-align: center;
    font-family: 'Fascinate', sans-serif;
    margin: 4rem;
}

.blogs-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 2rem;
    width: 50%;
    margin: auto;
    

}


.article{
    border: 2px solid black;
    border-radius: 10px;
    height: 70vh;
    

}
.article .img-container{
    margin-top: 1rem;
}


@media screen and (max-width: 774px) {
    .blogs-container{
        width: 100%;
    }
}


.article-title{
    font-weight: 500;
    padding-top: 1rem;
}
.article-title,
.updates{
    padding-left: 2rem;
}

.article button{
    margin-left: 2rem;
}


button{
    padding: 10px 15px;
    background-color: #E5989B;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    cursor: pointer;
}

/* article icons*/
.updates{
    display: flex;
    gap: 0.4rem;
}



.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.signup p{
    font-weight: 500;
    margin-bottom: 1rem;
}

/* footer */



.subscribe-button{
    border-radius: 0px;
    margin: 0;
}

@media screen and (max-width: 767px){
    footer{
        flex-direction: column;
        gap: 2rem;
    }
}