@media screen and (max-width: 1024px) {

    .hamburger-btn {
        display: flex;
    }
   

    .container{
        display: none;
        
    }
    .header h1 {
        display: block;
    }

    .home-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 767px){
    main{
        width: 100%;
        
    }
}