<h2>Recent Blogs</h2>
<div class="blogs-container">
    <% blogs.forEach(blog => { %>
        <div class="blogs">
             <div class="blog-title">
               <h3><a href="/blogs/<%= blog._id %>" class="blog-link"><%= blog.title %></a></h3>
            </div>
            <p><%= blog.content %></p>

         </div>
     <% }); %>
 </div>