*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    width: 80%;
    margin: auto;
    

}

.container h1{
    font-family: 'Fascinate', sans-serif;
}



.container textarea{
    font-family: 'Poppins', sans-serif;
    height: 70vh;
    width: 100%;
    padding: 1rem;

}


.buttons{
    display: flex;
    gap: 1rem;

}

.buttons button{
    border-radius: 10px;
    padding: 10px 18px;
    color: white;
    background-color: #E5989B;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

#title{
    outline: none;
    border: none;
    height: 25px;
    font-size: 25px;

}



#title::placeholder{
    color: black;
    font-size: 25px;
}